{% extends "base.html" %}
	Projects List
{% block title_html %}
{% endblock %}
	Projects List
{% block h1 %}
{% endblock %}
{% block article_content %}
	<h3>{{action}}</h3>
    {% if all_projects or my_projects or one_project %} <!--| length > 0 %} -->
	<table>
		<thead><tr><td>ID</td><td>Title</td></tr></thead>
		<tbody>
			{% if all_projects %}
				{% for project in all_projects %}
					<tr>
						<td>{{ project.id }}</td>
						<td>{{ project.title }}</td>					
					</tr>
				{% endfor %}
			{% elif my_projects %}
				{% for project in my_projects %}
					<tr>
						<td>{{ project.id }}</td>
						<td>{{ project.title }}</td>					
					</tr>
				{% endfor %}
			{% else %}
				<tr>
					<td>{{ one_project.id }}</td>
					<td>{{ one_project.title }}</td>					
				</tr>		
			{% endif %}
		</tbody>
	</table>
	{% else %}
		<span>No project.</span>
	{% endif %}
{% endblock %}