<html>
	<head>
		<title>Hello World</title>
	</head>
	<body>
		<h1>Hellow World Django</h1>

		<p><a href="{% url 'public_connection' %}">Connection</a></p>

		<article>
			<span>lower:  {{ my_var | lower }} <br></span>
			<span>upper: {{ my_var | upper }} <br></span>
			<span>capfirst: {{ my_var | capfirst }} <br></span>
			<span>truncate: {{ my_var | truncatechars:6 }} <br></span>
			<span>pluralize: {{ num_1 }} {{ product | pluralize }} <br></span>
			<span>pluralize: {{ num_2 }} {{ product | pluralize }} <br></span>
			<span>
				{% if years < 10 %}
					You are a child.
				{% elif years < 18 %}
					You are a teen.
				{% else %}
					You are an adult!
				{% endif %}
				<br>
			</span>
			<ul>
				{% for city in city_array %}
					<li> {{ city }} </li>
				{% endfor%}
			</ul>
		</article>
	</body>
</html>